<!DOCTYPE html>
<html>
  <head>
  <title>Create Survey</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--load font-->
	<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!--load my style sheet-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/answer-survey.css'/>

	<!-- material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

  </head>
  <body>
    {{> navbar }}
    <form method="POST" action="">
      <div class="questionBoxWithHeaderAndSubmitButton">
        <h4 id="header"> Answer Survey Questions </h2>
        <hr class="styleline" />

        <div class="question-box" id="question-form" data-numberQs="{{survey.questions.length}}">
          <div class="question-holder-row">
            <label>Question 1:</label> {{defaultQuestion}}
            <input type="number" name="painLevel" class="question-number-input" min=1 max=10></input>
          </div>
          {{#each survey.questions}}
            <div class="question-holder-row">
              <label>Question {{inc @index}}: {{this.question}}</label>
              <input type="text" name="{{this._id}}" class="question-text-input"></input>
            </div>
          {{/each}}
        </div>
        <input class="survey-button" id="create-survey-button" type="submit" value="ANSWER SURVEY"></input>

      </div>
    </form>
    <script>
      var questionsBox = document.getElementById('question-form');
      var numberOfQuestions = (questionsBox.getAttribute('data-numberQs'));
      var height = questionsBox.offsetHeight;
      var newHeight = (118) * numberOfQuestions + 118;
      questionsBox.style.height = newHeight + 'px';
    </script>
  </body>
</html>
