<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--load font-->
	<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<!-- material -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

  <!--load my style sheet-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/patientProfile.css' />

  </head>
  <body>
    {{> navbar }}
    {{#if message}}
      <div id="flashMessage" class="centerHolder">
        <p class="flashSuccess">
          The survey was created and sent to the patient
          <img id="x" src="/images/x.svg"/>
        </p>
      </div>
    {{/if}}
    <!-- <div class="profile-holder">
      <div class = "profile-card">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand" style="background:url('/images/{{patient.gender}}.png') bottom right 2% no-repeat #5C6BC0;">
            <h2 class="mdl-card__title-text">{{patient.firstName}} {{patient.lastName}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Condition: {{patient.condition}}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href = "/patient/{{patient.slug}}/create-survey">
              Create Survey
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <div id = "main-page">
      <div id = "title-welcome">
        <h4 id="patient-name"> {{patient.firstName}} {{patient.lastName}} </h4>
        <div class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" id="gender-button" style="background:url('/images/{{patient.gender}}_s.png')">
        </div>
        <p id="patient-cond"> {{patient.condition}} </p>
        <hr class ="styleline">
        <div id="surveys"> Surveys </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" id="add-button" onclick = "window.location.href='/patient/{{patient.slug}}/create-survey'">
          <i class="material-icons">add</i>
        </button>
     </div>

    <div class="outerSurveyHolder">
    {{#each surveys}}

      <div class="survey-holder">
        <div class = "survey-card">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="background: #5C6BC0;"> <!-- the style image goes here -->
              <h4 class="mdl-card__title-text pain-level">
                {{#if this.painLevel}}
                  Recovery level {{this.painLevel}}
                {{else}}
                  Recovery level TBD
                {{/if}}
              </h4>
            </div>
            <div class="mdl-card__supporting-text">
              {{#if this.answered}}
                <a style="color: rgba(0,0,0,.54); text-decoration:None"href="/answerSurvey/{{this.id}}">Completed</a>
              {{else}}
                <a style="color: rgba(0,0,0,.54); text-decoration:None"href="/answerSurvey/{{this.id}}">Incomplete</a>
              {{/if}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              {{#if this.answered}}
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/viewSurvey/{{this.id}}">
                  View results
                </a>
              {{else}}
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="">
                  Not complete
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>

    <!--
    TODO for patient profile
    create create survey button
    loop through surveys and display results
    -->
  </body>
  <script>
    var flashMessage = document.getElementById('flashMessage');
    if(flashMessage){
      document.getElementById('x').addEventListener('click', function(){
        flashMessage.parentNode.removeChild(flashMessage);
      })
    }
  </script>
</html>
